* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #000;
  height: 100vh;
}

html,
body {
  height: 100%;
  background-color: gray;
}
