*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8E8E8E;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.header {
    height: 90px;
    background-color: #0C0C0E;
    display: flex;
    align-items: center;
    justify-content:end;
}

.page-title {
    color: #fff;
    font-family: forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-left: 20px;
    margin-right: auto;
}

.navigation {
    display: flex;
}

.navigation-item { 
    margin-right: 30px;
    list-style: none;
}

.item-link {
    color: #fff;
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    font-style: normal;
    text-decoration: none;
}

.item-link:hover {
    font-weight: 700;
}

.header__profile-icon {
    padding-right: 20px;
    padding-left: 10px;
}

.welcome {
    height: 600px;
    width: 100%;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(/img/Books.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.welcome__text-box {
    background-color: #0C0C0E;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
}

.welcome__text {
    color: #fff;
    font-family: forum;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
}

.about {
    width: 100%;
    background-color: #fff ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title__text {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    padding: 20px 0;
}

.section-title__line {
    background-color: #0C0C0E;
    height: 1px;
    width: 50px;
    margin-bottom: 40px;
}

.about__content-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 20px;
}

.about__content-images {
    display: flex;
    gap: 25px;
}

.about__images {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
}

.carousel {
    display: flex;
    padding: 40px 0;
}

.carousel__button {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__circle {
    background-color: black;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    text-align: center;
}

.carousel__circle_active {
    background-color: black;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    text-align: center;
    background-color: #BB945F;
} 

.favorites {
    background-color: #fff;
}

.season-pick {
    margin-bottom: 40px;
}

.season-pick__subtitle-text {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 0 40px 20px;
}

.season-pick__choose {
    display: flex;
    gap: 85px;
    padding-left: 20px;
}

.season-pick__container {
    gap: 15px;
    display: flex;
    align-items: center;
    accent-color: black;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    cursor: pointer; 
}

.radio-button {
    width: 17px;
    height: 17px;
    cursor: pointer; 
}

.radio-label {
    padding: 5px;
    cursor: pointer;
}

input:checked + label {
    font-weight: 700;
  }

.left-column {
    margin: 0 0 40px 20px;
}

.right-column {
    margin: 0 60px 40px 0;
}

.staff-picks {
    height: 555px;
    width: 550px;
    border: 1px solid black;
    position: relative;
}

.staff-picks__container {
    margin: 15px 0 15px 20px;
}

.staff-picks__head {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.staff-picks__line {
    width: 60px;
    height: 1px;
    background-color: #BB945F;
}

.book-title {
    height: 80px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.book-title__name {
    text-transform: uppercase;
}

.staff-picks__description {
    height: 320px;
    width: auto;
    margin-bottom: 15px;
    margin-right: 175px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.buy__button {
    height: 30px;
    width: 75px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.buy__button:hover {
    border: 1px solid #BB945F;
    background: #BB945F;
    transition: 0.5s;
    cursor: pointer;
}

.buy__button_disabled {
    height: 30px;
    width: 75px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: #BB945F;
}

.staff-picks__book-image {
    width: 200px;
    height: 300px;
    position: absolute;
    right: -40px;
    bottom: -1px;
}

.book-card {
    gap: 260px;
    display: flex;
    flex-wrap: wrap;
}

.favorites-content__spring {
    display: none;
}

.favorites-content__summer {
    display: none;
}

.favorites-content__autumn {
    display: none;
}

.coffee-shop {
    width: 100%;
    background-color: #fff;
}

.coffee-shop__container {
    padding: 0 20px 40px 20px;
}

.coffee-shop__menu {
    display: flex;
    justify-content: space-between;
    gap: 480px;
}

.coffee-shop__title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee-shop__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.coffee-shop__right {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 40px;
}

.coffee-shop__item {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.coffee-shop__price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee-shop__name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.left {
    width: 199px;
}

.coffee-shop__line {
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.contacts {
    width: 100%;
    background-color: #fff;
}

.contacts__container {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

.contacts__bold {
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 40px;
}

.contacts__text > p,a {
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none   ;
}

.contacts__text-tty {
    padding: 20px 0;
}

.pad {
    padding-top: 40px;
    padding-bottom: 20px;
}

.card {
    background-color: #fff;
}

.card__container {
    padding: 0 20px 41px 20px;
		display: flex;
		justify-content: space-between;
}

.card__title {
  padding-bottom: 30px;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
}

.card__box {
  width: 100%;
  height: 386px;
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__inside-box {
  background-color: #BB945F;
  margin: 20px;
}

.inside-box__title {
	padding: 20px 0 20px 20px;
  color: #000;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; 
	letter-spacing: 0.6px;
}

.card__input {
	border: 0 #BB945F;
	border-radius: 10px;
	width: 520px;	
	padding: 8px 0 8px 20px;
	color: #8E8E8E;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; 
	letter-spacing: 0.6px;
}

.card__form {
	padding: 0 20px 25px 20px;
}

.card__button {
	color: #0C0C0E;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	padding: 10px 40px;
	background-color: #fff;
	border: 1px solid #0C0C0E;
	border-radius: 2px;
}

.card__button-check {
	display: flex;
	justify-content: center;
}

.card__button:hover {
	border: 1px solid #BB945F;
	background: #BB945F;
	transition: 0.5s;
	cursor: pointer;
}

.card__get-title {
	padding-bottom: 35px;
	text-align: end;
	color: #000;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;
}

.card__get-text {
	height: 120px;
	width: 456px;
	text-align: end;
	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.4px;
}

.card__get-buttons {
	margin-top: 35px;
    gap: 20px;
	display: flex;
    justify-content: end;
}

.get__button {
    display: flex;
		border-radius: 2px;
		border: 1px solid #0C0C0E;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #fff;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.get__button:hover {
	border: 1px solid #BB945F;
  background: #BB945F;
  transition: 0.5s;
  cursor: pointer;
}

.footer {
	background-color: #0C0C0E;
	width: 100%;
	height: 250px;
}

.footer__container {
	padding: 20px;
}

.footer__info-text {
	color: #FFF;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; 
}

.address {
	text-align: right;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.footer__social {
	gap: 15px;
}

.footer__line {
	 width: 1400px;
	 height: 1px;
	 background-color: #FFF;
	 margin-top: 30px;
}

.footer__credits {
	margin: 44px 0;
	display: flex;
	justify-content: space-between;
}

.credits__text{
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 2px;
}